{% extends 'genericos/base.html' %}


{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block l1_nav %}
<li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
{% endblock l1_nav %}

{% block h1_header %}
<h1 class="mx-auto my-0 text-uppercase">SOBRE LA PÁGINA</h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">La página trata de registrar autmóviles, se ingresa el Modelo, la Marca, el Precio y el anio de fabricación.</h2>
{% endblock h1_header %}




{% block footer %}

{% endblock footer %}