{% extends 'genericos/base.html' %}

{% block title_head %}
                    <title>Cambio Contrasenia</title>
{% endblock title_head %}

{% block h1_header %}
                    <h1>Cambio Contrasenia</h1>
{% endblock h1_header %}


{% block contenido %}

{% if form.errors %}
<p style="color: #ec9898; font-size: 25px">Corrija los siguientes errores</p>
{% endif %}

<form style="color:white" action={% url 'usuarios:cambio_contrasenia' %} method="post">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <button>Cambiar</button>
</form>
{% endblock contenido %}


{% block about %}
{% endblock about %}

{% block contact%}
{% endblock contact%}

{% block footer %}
{% endblock footer %}
