{% extends 'genericos/base.html' %}

{% block title_head %}
                    <title>Editar Perfil</title>
{% endblock title_head %}

{% block h1_header %}
                    <h1>Editar Perfil</h1>
{% endblock h1_header %}

{% block contenido %}

{% if formulario.errors %}
<p style="color: #ec9898; font-size: 25px">Corrija los siguientes errores</p>
{% endif %}

<form style="color:white" action='' method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>
    <button type='button'><a class="navbar-brand" href={% url 'usuarios:cambio_contrasenia' %}>Cambiar contrasenia</a></button>
    <button>Guardar cambios</button>
</form>
{% endblock contenido %}


{% block about %}
{% endblock about %}

{% block contact%}
{% endblock contact%}

{% block footer %}
{% endblock footer %}
